<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" > <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Firefox Bot</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/themify-icons.css">
    <link rel="stylesheet" href="./assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="./assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="./assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body ng-app="app" ng-controller="MainController">
        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <i style="color: white">Firefox bot</i>
                <a class="navbar-brand" href="index.html"><img src="images/Firefox-icon.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="index.html"><img src="images/Firefox-icon.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <li>
                        <a href="macro.html"> <i class="menu-icon fa fa-info"></i>Macro </a>
                    </li>                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li>
                            	<div>
                            		<b>Usuarios Habilitados:</b> <span id="n_users">{{n_users}}</span> de 10 - <b>IP Country: </b> <span>{{ip_dir.country}}</span><b>
                            	</div>
                            	<div>
	                            	 <button type="submit" class="btn btn-success btn-sm" id="OpenManager">
			                          <i class="fa fa-dot-circle-o"></i> Abrir Manager
			                        </button>                     	
			                        <button type="submit" class="btn btn-success btn-sm" id="CreateUsers">
			                          <i class="fa fa-dot-circle-o"></i> Crear usuarios
			                        </button>	
                            	</div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
            	<div class="row">
            		<!-- izquierda -->
	                <div class="col-6">
	                		<!-- comados firefox -->
<!-- 		                    <div class="card">
		                      <div class="card-header">
		                        <strong>Comandos de firefox</strong>
		                      </div>
		                      <div class="card-footer">
		                        <button type="submit" class="btn btn-success btn-sm" id="OpenManager">
		                          <i class="fa fa-dot-circle-o"></i> Abrir Manager
		                        </button>                     	
		                        <button type="submit" class="btn btn-success btn-sm" id="CreateUsers">
		                          <i class="fa fa-dot-circle-o"></i> Crear usuarios
		                        </button>
		                      </div>
		                    </div>    -->   
		               		 <!-- macros -->
<!-- 		                    <div class="card">
		                      <div class="card-header">
		                        <strong>Macros</strong>
		                      </div>
		                      <div class="card-footer">
	                            <button type="submit" class="btn btn-info btn-sm" id="execMacro" ng-click="getWorkers()">
	                              <i class="fa fa-dot-circle-o"></i> Login Users
	                            </button> 	                             
	                            <button type="submit" class="btn btn-warning btn-sm" id="execMacro2" ng-disabled="workersStatuss" ng-click="">
	                              <i class="fa fa-dot-circle-o"></i> Run workers
	                            </button>                                             	
		                      </div>
		                    </div>   -->                      
		                	<!-- Añadir Usuarios               	 -->
		                    <div class="card">
		                      <div class="card-header">
		                        <strong>Añadir usuarios</strong>
		                      </div>
		                      <div class="card-body card-block">
		                        <form action="" method="post" class="form-horizontal">
		                          <div class="row form-group">
		                            <div class="col col-md-12">
		                              <div class="input-group">
		                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
		                                <input type="text" id="input1-group1" name="input1-group1" placeholder="Nombre de usuario" class="form-control" ng-model="newuser.username">
		                              </div>
		                            </div>
		                          </div>
		                          <div class="row form-group">
		                            <div class="col col-md-12">
		                              <div class="input-group">
		                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
		                                <input type="text" id="input1-group1" name="input1-group1" placeholder="Contraseña" class="form-control" ng-model="newuser.password">
		                              </div>
		                            </div>
		                          </div>
		                          <div class="row form-group">
		                            <div class="col col-md-3"><label for="select" class=" form-control-label" >Estatus</label></div>
		                            <div class="col-12 col-md-9">
		                              <select name="select" id="select" class="form-control" ng-init="newuser.status = newuser.status || true" ng-model="newuser.status">
		                                <option value="true">Activo</option>
		                                <option value="false">Inactivo</option>
		                              </select>
		                            </div>
		                          </div>                         

		                        </form>
		                      </div>
		                      <div class="card-footer">
		                        <button type="submit" class="btn btn-success btn-sm" ng-click="createUser(newuser)">
		                          <i class="fa fa-dot-circle-o"></i> Añadir
		                        </button>
		                      </div>
		                    </div>
		                	<!-- lista de usuarios -->
		                    <div class="card">
		                        <div class="card-header">
		                            <strong class="card-title">Lista de usuarios</strong>
		                            <span></span>
			                        <button ng-click="activate()" type="submit" class="btn btn-success btn-sm" id="refresh">
			                          <i class="fa fa-refresh"></i>
			                        </button>     	                        
		                        </div>
		                        <div class="card-body">
		                                
		                            <table class="table table-striped">
		                              <thead>
		                                <tr>
		                                  <th scope="col">#</th>
		                                  <th scope="col">Username</th>
		                                  <th scope="col">Password</th>
		                                  <th scope="col">Estatus</th>
		                                  <th scope="col">Acciones</th>	                                  
		                                </tr>
		                              </thead>
		                              <tbody>
		                                <tr ng-repeat='item in users'>
		                                  <th scope="row" >{{$index+1}}</th>
		                                  <td>{{item.username}}</td>
		                                  <td>{{item.password}}</td>
		                                  <td>{{item.status}}</td>
		                                  <td>		                        
		                                  	<button type="submit" class="btn btn-info btn-sm" id="refresh" ng-click="updateUser(item)">
			                          <i class="fa fa-refresh"></i>
			                        </button>
		                                  	<button ng-click="removeUser(item._id)"type="submit" class="btn btn-danger btn-sm" id="refresh">
			                          <i class="fa fa-trash"></i>
			                        </button>		                        
			                    		  </td>                                 
		                                </tr>                                
		                              </tbody>
		                            </table>
		                        </div>
		                    </div>		                    
					</div>      

					<!-- derecha	 -->
	                <div class="col-6">
	                        <div class="card">
	                          <div class="card-header">
	                            <strong>Copia y pega el codigo generado por imacros</strong>
	                          </div>
	                          <div class="card-body card-block">
	                            <form action="" method="post" class="form-horizontal">
	                              <div class="row form-group">
	                                <div class="col col-md-12">
	                                   <div class="row form-group">
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-addon">Tiempo espera</div>
													<input type="text" id="waitTime" name="waitTime" class="form-control" ng-model="waitTime">
													<div class="input-group-addon"><i class="fa fa-clock-o"></i> Segundos</div>
												</div>
											</div>

	                                    <textarea id="input1-group1" name="input1-group1" placeholder="Pegar Macro AQUI" class="form-control" ng-change="encode(macro2,'b')" ng-model="macro2" style="min-height: 240px">
	                                    </textarea >    
	                                    <textarea id="m64b" ng-hide="true" name="input1-group1" placeholder="Pegar Macro AQUI" class="form-control"  ng-model="m64b" >
	                                    </textarea >                                      


	                                </div>
	                              </div>                    

	                            </form>
	                          </div>
	                          <div class="card-footer">
	                            <button type="submit" class="btn btn-info btn-sm" id="execMacro" ng-click="getWorkers()">
	                              <i class="fa fa-dot-circle-o"></i> Login Users
	                            </button> 	   	                          	
	                            <button type="submit" class="btn btn-success btn-sm" id="saveMacro" ng-click="macro2=addtimers(macro2)"> 
	                              <i class="fa fa-dot-circle-o"></i> Subir Macro y Ejecutar
	                            </button>
                                                                                
	                          </div>
	                        </div>     
	                </div>
	            </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->


    <script> window.$ = window.jQuery = window.jquery = require("jquery")</script>
    <script> require("./assets/js/popper.min.js")</script>
    <script> require("./assets/js/plugins.js")</script>
    <script> require("./assets/js/main.js")</script>
    <script> require("./index.js")</script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
    <script type="text/javascript"> require("./controller.js")</script>

</body>
</html>
